<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>IPL Dashboard</title>
    <style>
      li {
        list-style: none;
        margin: 5px;
        background-color: bisque;
        padding: 10px;
        width: 430px;
      }
      a {
        color: black;
        font-size: 1.5rem;
        text-decoration: none;
      }
      a:hover {
        color: darkblue;
        font-weight: bold;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>IPL Statistics Dashboard</h1>

    <h2>JSON Outputs</h2>
    <ul>
      <li><a href="/matches-per-year/">Matches Played Per Year</a></li>
      <li>
        <a href="/matches-won-per-team-per-year/"
          >Matches Won Per Team Per Year
        </a>
      </li>
      <li><a href="/extra-runs-2016/">Extra Runs Conceded (2016)</a></li>
      <li>
        <a href="/top-economical-bowlers-2015/"
          >Top 10 Economical Bowlers (2015)</a
        >
      </li>
    </ul>

    <h2>Charts</h2>
    <ul>
      <li><a href="/matches-per-year-chart/">Matches Per Year Chart</a></li>
      <li>
        <a href="/matches-won-per-team-per-year-chart/"
          >Matches Won Per Team Per Year Chart</a
        >
      </li>
      <li>
        <a href="/extra-runs-2016-chart/">Extra Runs Conceded (2016) Chart</a>
      </li>
      <li>
        <a href="/top-economical-bowlers-2015-chart/"
          >Top 10 Economical Bowlers (2015) Chart</a
        >
      </li>
    </ul>
  </body>
</html>
